Publish_Student_Service/Console_App_GetListFromWCF/Service References/ServiceReferenceGetListStudent/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Publish_Student_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Publish_Student_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfSinhVien">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SinhVien" nillable="true" type="tns:SinhVien" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSinhVien" nillable="true" type="tns:ArrayOfSinhVien" />
  <xs:complexType name="SinhVien">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SinhVien" nillable="true" type="tns:SinhVien" />
</xs:schema>